.dashboard {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--foreground);
}
.dashboard-main-container {
   display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  align-self: center;
}
