.header {
  display: flex;
  position: fixed;
  margin-top: 0;
  padding-bottom: 5px;
  height: 30px;
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  font: var(--font-serif);
  width: 100%;
  border-bottom: 1px solid var(--border);
  z-index: 1;
}

.nav-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: var(--muted-foreground);
  font: var(--font-mono);
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
}
.header-right {
  display: flex;
  color: var(--foreground);
  position: inherit;
  left: 95%;
}
/* Sidebar Toggle */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 5px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--muted-foreground);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

