.sidebar {
  background-color: var(--sidebar);
  color: var(--sidebar-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.sidebar.open {
  padding: 0.5rem 0;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  margin: 0px auto 0 auto;
}
.top h3 {
  margin: 0;
}

.searchbar {
  margin-top: 20px;
}

/* From Uiverse.io by LightAndy1 */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 230px;
}

.input {
  font-family: var(--font-sans);
  width: 100%;
  height: 25px;
  padding-left: 2.5rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background-color: var(--input);
  outline: none;
  color: var(--sidebar-foreground);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
}

.input::placeholder {
  color: var(--muted-foreground);
}

.input:hover {
  border-color: var(--ring);
  box-shadow: var(--shadow-sm);
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  outline: 2px solid var(--ring);
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: var(--muted-foreground);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}
