body {
  background-color: var(--background);
  font-family: var(--font-sans);
  margin: 0;
}

.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  display: none;
  flex-shrink: 0;
}

.sidebar-open {
  display: flex;
  z-index: 200;
}

.main-content {
  flex: 1;
  background-color: var(--background);
  overflow-y: auto;
}