.hero-section {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.date-hero {
  color: var(--muted-foreground);
  font: var(--font-mono);
  font-size: 12px;
}
.hero-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  background-color: var(--card);
  height: auto;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-md);
  padding: 10px 5px;
}
.text-area{
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding-left: 10px;
}
.progress-text {
  background-color: var(--secondary);
  width: max-content;
  padding: 5px 10px;
  font: var(--font-serif);
  box-shadow: var(--shadow-md);
  border-radius: var(--radius);
  font-size: 12px;
}
.heading-text{
  font-size: 22px;
  font: var(--font-sans);
  font-weight: bolder;
}
.heading-text h2{
  margin: 0;
}
.motivation-para{
  font: var(--font-serif);
  font-size: 15px;
  color: var(--secondary-foreground);
}
.link-to-habits a{
  color: var(--muted-foreground);
  font: var(--font-sans);
  font-size: 13px;
  transition: 0.3s ease;
}
.link-to-habits a:hover{
  color: var(--secondary-foreground);
}